[submodule "imports/ios-openssl"]
	path = imports/ios-openssl
	url = https://github.com/st3fan/ios-openssl
[submodule "imports/openssl"]
	path = imports/openssl
	url = https://github.com/LucidFusionLabs/openssl
	branch = OpenSSL_1_0_1-stable
[submodule "imports/jsoncpp"]
	path = imports/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "imports/flatbuffers"]
	path = imports/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "imports/Box2D"]
	path = imports/Box2D
	url = https://github.com/erincatto/Box2D
[submodule "imports/lame"]
	path = imports/lame
	url = https://github.com/rbrito/lame
[submodule "imports/ffmpeg"]
	path = imports/ffmpeg
	url = https://github.com/FFmpeg/ffmpeg
[submodule "imports/x264"]
	path = imports/x264
	url = https://github.com/yixia/x264
[submodule "imports/geoip-api-c"]
	path = imports/geoip-api-c
	url = https://github.com/maxmind/geoip-api-c
[submodule "imports/OpenCV"]
	path = imports/OpenCV
	url = https://github.com/Itseez/OpenCV
[submodule "imports/gperftools"]
	path = imports/gperftools
	url = https://github.com/gperftools/gperftools
[submodule "imports/glog"]
	path = imports/glog
	url = https://github.com/google/glog
[submodule "imports/protobuf"]
	path = imports/protobuf
	url = https://github.com/google/protobuf
[submodule "imports/googletest"]
	path = imports/googletest
	url = https://github.com/google/googletest
[submodule "imports/libpcap"]
	path = imports/libpcap
	url = https://github.com/the-tcpdump-group/libpcap
[submodule "imports/giflib"]
	path = imports/giflib
	url = https://github.com/ProfessorKaos64/giflib
[submodule "imports/libjpeg-turbo"]
	path = imports/libjpeg-turbo
	url = https://github.com/leapmotion/libjpeg-turbo
[submodule "imports/stb"]
	path = imports/stb
	url = https://github.com/nothings/stb
[submodule "imports/re2"]
	path = imports/re2
	url = https://github.com/google/re2
[submodule "imports/libsamplerate"]
	path = imports/libsamplerate
	url = https://github.com/erikd/libsamplerate/
[submodule "imports/libuv"]
	path = imports/libuv
	url = https://github.com/libuv/libuv
[submodule "imports/dtl"]
	path = imports/dtl
	url = https://github.com/cubicdaiya/dtl
[submodule "imports/cmake-precompiled-header"]
	path = imports/cmake-precompiled-header
	url = https://github.com/LucidFusionLabs/cmake-precompiled-header
[submodule "imports/cmake-daemon"]
	path = imports/cmake-daemon
	url = https://github.com/LucidFusionLabs/CMake
	branch = cmake-daemon
[submodule "imports/diff-match-patch-cpp-stl"]
	path = imports/diff-match-patch-cpp-stl
	url = https://github.com/leutloff/diff-match-patch-cpp-stl
[submodule "imports/freetype"]
	path = imports/freetype
	url = https://github.com/LucidFusionLabs/freetype
[submodule "imports/libcss"]
	path = imports/libcss
	url = https://github.com/LucidFusionLabs/libcss
[submodule "imports/libpng"]
	path = imports/libpng
	url = https://github.com/LucidFusionLabs/libpng
[submodule "imports/sqlite-amalgamation"]
	path = imports/sqlite-amalgamation
	url = https://github.com/azadkuh/sqlite-amalgamation
[submodule "imports/sqlcipher"]
	path = imports/sqlcipher
	url = https://github.com/LucidFusionLabs/sqlcipher
[submodule "imports/ref10_extract"]
	path = imports/ref10_extract
	url = https://github.com/LucidFusionLabs/ref10_extract
[submodule "imports/bcrypt_pbkdf"]
	path = imports/bcrypt_pbkdf
	url = https://github.com/LucidFusionLabs/bcrypt_pbkdf
[submodule "imports/mosh"]
	path = imports/mosh
	url = https://github.com/mobile-shell/mosh
[submodule "imports/Stockfish"]
	path = imports/Stockfish
	url = https://github.com/official-stockfish/Stockfish
[submodule "imports/openssl_prebuilt_for_android"]
	path = imports/openssl_prebuilt_for_android
	url = https://github.com/felipejfc/openssl_prebuilt_for_android
[submodule "imports/libarchive"]
	path = imports/libarchive
	url = https://github.com/LucidFusionLabs/libarchive
[submodule "imports/glew"]
	path = imports/glew
	url = https://github.com/LucidFusionLabs/glew
[submodule "imports/fabric-ios"]
	path = imports/fabric-ios
	url = https://github.com/LucidFusionLabs/fabric-ios
[submodule "imports/AdMob-ios"]
	path = imports/AdMob-ios
	url = https://github.com/LucidFusionLabs/AdMob-ios
