[submodule "imports/libarchive"]
	path = imports/libarchive
	url = https://github.com/libarchive/libarchive
[submodule "imports/ios-openssl"]
	path = imports/ios-openssl
	url = https://github.com/st3fan/ios-openssl
[submodule "imports/openssl"]
	path = imports/openssl
	url = https://github.com/LucidFusionLabs/openssl
	branch = OpenSSL_1_0_1-stable
[submodule "imports/jsoncpp"]
	path = imports/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp
[submodule "imports/OpenSSL-for-Android-Prebuilt"]
	path = imports/OpenSSL-for-Android-Prebuilt
	url = https://github.com/emileb/OpenSSL-for-Android-Prebuilt
[submodule "imports/flatbuffers"]
	path = imports/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "imports/libjpeg-turbo"]
	path = imports/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo
[submodule "imports/Box2D"]
	path = imports/Box2D
	url = https://github.com/erincatto/Box2D
